body{
    background: #FFF6EE;
}

.calculator{
    background: #fff;
}

.input{
    color: #333;
}

.numbers{
    background: #ffff;

}

.numbers button{
    color: #333;
}

.numbers button:hover{
    background: #FFF6EE;
}

.orangeText{
    color: #FF7A00 !important;
}

.orangeBg{
    background: #FF7A00 !important;
    color: #fff !important;

}